{% extends 'base.html' %}

{% block title %}ダイアリー - {% endblock %}

{% block content %}

<section class="container-fluid">
    <form action="edit.php" method="get">
        <div class="card  border border-dark mb-3">
            <div class="card-header font-weight-bold">ダイアリー : {{ nowDate }}</div>
            <div class="card-body text-dark mx-3">
                    <div class="userDiary m-3">
                        <div class="card-header">
                            <ul class="nav nav-tabs" id="myTab" role="tablist">
                              <li class="nav-item">
                                <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true"><small>Image</small></a>
                              </li>
                              <li class="nav-item">
                                <a class="nav-link" id="comment-tab" data-toggle="tab" href="#comment" role="tab" aria-controls="comment" aria-selected="false"><small>Comment</small></a>
                              </li>
                            </ul>
                        </div>
                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                <div class="card">
                                    <img class="card-img-top" src="/assets/img/{{ imagePath }}/{{ image }}" alt="Card image cap">
                                    <div class="card-body">
                                        <p class="card-text"><h5>{{ title }}</h5></p>
                                        <small class="text-muted float-right">({{ modified_time }})</small>
                                    </div>
                                    <div class="card-footer text-muted">
                                      {{ name }}
                                        <a class="btn btn-info btn-sm ml-3 float-right" href="/app/src/auth/profile.php?userId={{ userId }}" role="button">プロフィール</a>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="comment" role="tabpanel" aria-labelledby="comment-tab">
                              <div class="card">
                                  <div class="card-body">
                                      <p class="card-text">{{ comment  | nl2br }}</p>
                                  </div>
                                  <div class="card-footer text-muted">
                                      {{ name }}
                                  </div>

                              </div>
                            </div>
                        </div>
                    </div>

            </div><!-- .card-body -->
            <div class="card-footer text-muted">
                <div class="form-group row">
                    <div class="col-sm-12 text-center">
                        <a class="btn btn-warning btn-lg mr-3" href="{{ back_url }}" role="button">戻る</a>
                        {% if login == true %}
                            <button type="submit" class="btn btn-primary btn-lg mr-3">編集</button>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div><!-- .card -->

        {# 画像ID #}
        <input type="hidden" name="diaryId" value="{{diaryId}}">

    </form>
</section>
{% endblock %}
